.center-div {
  position: relative;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  height:70%;
  width: 50%;
  min-width: 900px;
  min-height: 400px;
  max-height: 70%;
  max-width: 80%;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  align-content:center;
}

.leaflet-container .leaflet-control-attribution {
	display: none;
}

.footer {
    position:fixed;
    align: baseline;
    top:inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
}
